@font-face {
    font-family: 'Nyght';
    src: url('NyghtSerif-Light.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Nyght';
    src: url('NyghtSerif-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Nyght';
    src: url('NyghtSerif-Medium.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Nyght';
    src: url('NyghtSerif-Bold.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Nyght';
    src: url('NyghtSerif-Dark.ttf') format('truetype');
    font-weight: 500;
}